body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.blue-btn{
  background: #06B4FE;
  border: none;
  font-size: 20px;
  color: #fff;
  padding: 15px 60px;
  border-radius: 5px;
  box-shadow: 0 9px 17px rgba(0, 0, 0, .11);
  cursor: pointer;
}

.login-section{
  background: #fff;
}

.login-section-header{
  display: flex;
  width: 90%;
  margin: 50px auto;
  justify-content: flex-start
}

.login-section-header-img{
  width: 30px;
  height: 25px;
  margin-left: 30px;
}

.login-section-main{
  width: 90%;
  margin: 10px auto;
  display: flex;
}

.login-section-main-info{
  width: 40%;
  min-width: 280px;
  background: rgba(202, 209, 222, .17);
  padding: 40px;
}

.login-section-main-info h3{
  color: #06B4FE;
  font-size:40px;
  font-weight: 400;
  margin: 10px 0 0;
}

.login-section-main-info p{
  color: #777E8E;
  margin-bottom: 30px;
  font-size: 24px;
  width: 60%;
  line-height: 150%;
}

.login-section-main-info-form{
  margin: 60px 0 40px;
}

.login-section-main-info-form-div{
  margin: 0;
  background: none;
  position: relative;
  box-shadow: 0 14px 50px rgba(0, 0, 0, .11);
}

.login-section-main-info-form-div:last-of-type{
  border-top: none;
}

.login-section-main-info-form-div span{
  color: rgba(160, 170, 190, .68);
  font-size: 16px;
  position: absolute;
  top:12px;
  left: 16px;
  z-index: 3;
}

.login-section-main-info-form-div input{
  background: #fff;
  border: none;
  outline: none;
  color: #777E8E;
  padding: 10px;
  padding-top: 40px;
  font-size: 24px;
  width: 96%;
  position: relative;
  border : 1px solid rgba(160, 170, 190, .44);
  z-index: 2;
}

.login-section-main-info-form-div input:focus {
  border-left: 4px solid #06B4FE;
  width: calc(96% - 3px);
}

.login-section-main-info-form button{
  margin-top: 80px;
}

.login-section-main-img{
  height: 550px;
  width: 60%;
}

.login-section-main-img svg{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px){
  .login-section-main-info h3{
    font-size: 30px;
  }
  .login-section-main-info p, .login-section-main-info-form-div input{
    font-size: 20px;
  }

  .login-section-main-info-form-div span{
    font-size: 14px;
  }

  .login-section-main-info-form button{
    font-size: 18px;
  }
}

@media screen and (max-width: 750px){
  .login-section-main-img{
    width: 0%;
  }

  .login-section-main-info{
    width: 80%;
    margin: 0 auto;
  }
}

.dashboard-nav{
  background: #fff;
  width: 94%;
  position: fixed;
  display: flex;
  padding: 10px 3%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #E8E8E8;
  z-index: 500;
}

.dashboard-nav-logo a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.dashboard-nav-logo, .dashboard-nav-search, .dashboard-nav-links{
  width: fit-content;
}

.dashboard-nav-logo img{
  width: 30px;
  height: 25px;
}

.dashboard-nav-logo p{
  color: #26335E;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.dashboard-nav-search{
  display: flex;
  align-items: center;
}

.dashboard-nav-search a{
  max-height: fit-content;
}

.dashboard-nav-search-input{
  position: relative;
}

.dashboard-nav-search svg{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 25px;
}

.dashboard-nav-search input{
  width: 450px;
  background: #F5F8F9;
  color: #26335E;
  font-size: 18px;
  padding: 10px;
  padding-left: 50px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.dashboard-nav-search a{
  color: #06B4FE;
  font-size: 15px;
  text-decoration: none;
  border-bottom: 1px solid #06B4FE;
  margin-left: 30px;
}
.dashboard-nav-links{
  display: flex;
  align-items: center;
}
.dashboard-nav-links svg:first-of-type{
  transform: scale(1.3);
  cursor: pointer;
}

#logout-svg{
  transform: scale(.8)
}
.dashboard-nav-links svg{
  width: 25px;
  height: 20px;
}

.dashboard-nav-links-profile {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.dashboard-nav-links-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.dashboard-nav-links-profile p {
  color: #26335E;
  font-size: 16px;
}

.dashboard-sidebar{
  background: #fff;
  width: fit-content;
  padding: 20px 0 500px;
  margin-top: 80px;
  position: fixed;
  border: 1px solid #E8E8E8;
}

.dashboard-sidebar-info{
  overflow-y: scroll;
  height: calc(100vh - 80px);
}

.dashboard-sidebar .blue-btn{
  padding: 15px 50px;
  font-size: 14px;
  box-shadow: 0 3px 10px #06B4FE;
  margin: 0 30px;
}

.dashboard-nav-dropdown-toggle{
  display: none;
}

.sidebar-option{
  margin: 30px auto;
  text-align: left;
}

.sidebar-option-header{
  color: #26335E;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 30px;
}

.sidebar-option-link{
  padding: 10px 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar-option-link:hover , .sidebar-option > .active{
  background: rgba(6, 180, 254, .15);
}

.sidebar-option-link span{
  display: block;
  width: 8px;
  height: 8px;
  border: 3px solid #06B4FE;
  background: #fff;
  border-radius: 50%;
  margin-right: 20px;
}

.sidebar-option-link p{
  font-size: 14px;
  color: #A0AABE;
  margin: 0;
}

.sidebar-option-logout{
  margin: 0 auto;
  text-decoration: none;
  color: #A0AABE;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 100px;
  display: block;
  width: fit-content;
}

.dashboard-sidebar-toggle {
  position: absolute;
  background: white;
  padding: 10px;
  top: -1px;
  right: -56px;
  display: none;
}

.dashboard-sidebar-toggle hr {
  border: 2px solid #06B4FE;
  width: 30px;
  margin-bottom: 5px;
}

.dashboard-main{
  width: calc(100% - 303px);
  margin-left: 263px;
  background: rgba(202, 209, 222, .30);
  min-height: 100vh;
  padding: 120px 20px 20px;
}

.dashboard-select{
  border: 1px solid #94A3AF;
  width: 200px;
  font-size: 16px;
  background: #fff;
  color:#26335E;
  padding: 10px 20px;
  margin-left: 10px;
  display: block;
}

@media screen and (max-width: 1200px){
  .dashboard-nav-links-profile p{
    display: none;
  }

  .dashboard-nav-logo p{
    display: none;
  }

  .dashboard-nav{
    padding: 20px 3%;    
  }

}

@media screen and (max-width: 950px){
  .dashboard-nav{
    position: fixed;
  }
  .dashboard-nav-dropdown-toggle{
    display: block
  }

  .dashboard-nav-dropdown-toggle hr {
    border: 2px solid #06B4FE;
    width: 30px;
    margin-bottom: 5px;
  }

  .dashboard-nav-dropdown-toggle hr:last-of-type {
    margin-bottom: 0;
  }

  .dashboard-nav-search{
    display: none;
    position: absolute;
    top: 70px;
    left:0;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 5% 0;
    background: #fff;
    max-width: 100vw;
  }

  .dashboard-nav-search-input{
    width: 90%;
    margin: 0 auto;
  }

  .dashboard-nav-search-input input{
    width: 90%;
  }

  .dashboard-nav-search a{
    margin-left: 0;
  }

  .dashboard-nav-search-link{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  /* .dashboard-nav-links{
    display: none;
    position: absolute;
    top: 180px;
    left:0;
    width: 100%;
    background: #fff;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #E8E8E8
  }

  .dashboard-nav-links-profile{
    justify-content: center;
    margin: 30px auto;
  }

  .dashboard-nav-links-profile p{
    display: block;
  }

  .show > .dashboard-nav-search, .show > .dashboard-nav-links{
    display: block;
  } */

  .responsive-navbar > .dashboard-nav-search {
    display: block;
    transition: all 0.5s linear;
  }

  .dashboard-sidebar{
    top: 0;
  }

  .dashboard-nav-logo, .dashboard-nav-dropdown-toggle{
    margin: 0 5%;
  }

  .dashboard-sidebar {
    left: -263px;
    margin-top: 77px;
    transition: all 0.5s linear;
    z-index: 200;
  }

  .responsive-sidebar {
    left: 0;
    transition: all 0.5s linear;
  }

  .dashboard-sidebar-toggle {
    display: block;
    z-index: 250;
    border: 1px solid #E8E8E8
  }

  .responsive-sidebar .dashboard-sidebar-toggle hr:first-of-type,   .responsive-navbar .dashboard-nav-dropdown-toggle hr:first-of-type {
    opacity: 0;
  }

  .responsive-sidebar .dashboard-sidebar-toggle hr:nth-of-type(2), .responsive-navbar .dashboard-nav-dropdown-toggle hr:nth-of-type(2) {
    transition: all 0.3s linear;
    transform: rotate(45deg);
  }

  .responsive-sidebar .dashboard-sidebar-toggle hr:last-of-type, .responsive-navbar .dashboard-nav-dropdown-toggle hr:last-of-type {
    transition: all 0.3s linear;
    transform: rotate(-45deg);
    position: relative;
    top: -12px;
  }
  .dashboard-main{
    width: calc(100% - 40px);
    margin-left: 0;
  }

  .dashboard-select{
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px){
  .dashboard-nav-search-input input{
    width: 85%;
  }
}

.dashboard-cards-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.dashboard-card{
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  width: fit-content;
  display: flex;
  margin: 20px 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .16);
  position: relative;
}

.dashboard-card img{
  width: 100px;
  border-radius: 50%;
  height: 100px;
  margin-right: 10px;
}

.dashboard-card-info {
  width: 200px;
  text-align: left;
}

.dashboard-card-info-name{
  color: #26335E;
  font-size: 16px;
  margin: 0;
}

.dashboard-card-info-bio{
  color: #A0AABE;
  font-size: 13px;
  height: fit-content;
  margin: 5px 0;
  min-height: 30px;
}

.dashboard-card-info-stats{
  display: flex;
}

.dashboard-card-info-stats-followers, .dashboard-card-info-stats-engagement {
  width: 50%;
}

.dashboard-card-info-stats-figure{
  color: #26335E;
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
}

.dashboard-card-info-stats-figure img{
  width: 40px;
  height: 60px;
  margin: 0;
  margin-bottom: -22px;
  margin-top: -16px;
  transform: scale(.5);
}

.dashboard-card-info-stats-label{
  color: #A0AABE;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
}

.dashboard-card-info-btns{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
}

.dashboard-card-info-btns i{
  cursor: pointer;
  color: #A0AABE;
  margin: auto 30px;
}

.dashboard-card-info-btns i:hover, .dashboard-card-info-btns i.active{
  color: #06B4FE;
}

.dashboard-card-add-btn, .messages-influencer-section-add-btn, .search-item button{
  border-radius: 50%;
  color: #fff;
  background: #06B4FE;
  padding: 0 10px 5px;
  border: none;
  font-size: 30px;
  cursor: pointer;
}


@media screen and (max-width: 1410px){
  .dashboard-cards-wrapper{
    max-width: 740px;
  }
}

@media screen and (max-width: 1042px){
  .dashboard-cards-wrapper{
    justify-content: center;
  }
}

@media screen and (max-width: 400px){
  .dashboard-card{
    padding: 10px;
    transform: scale(.7);
    margin: -15px 10px;
  }
  .dashboard-card-info {
    width: 180px;
  }
}

.dashboard-pagination{
  background: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 10px auto;
  display: table;
  text-align: center;
  box-shadow: 0 5px 20px rgba(26, 73, 119, .08);
}

.dashboard-pagination a{
  color: #A0AABE;
  text-decoration: none;
  font-size: 16px;
  margin: 0 10px;
}


.dashboard-pagination a:hover , .dashboard-pagination a.active {
  color: #06B4FE;
}

.notifications-div-wrapper, .modal-div-wrapper{
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, .9);
  left: 0;
  z-index: 300;
  width: 100vw;
  height: 100vh;
  display: none;
}

.show-notifications{
  display: block;
}

.notifications-div{
  position: absolute;
  top: 80px;
  right: 5%;
  z-index: 310;
  background: rgba(6, 180, 254, .05);
  width: fit-content;
  padding: 10px 20px;
}

.notifications-div-item{
  background: #fff;
  width: 360px;
  display: flex;
  padding: 15px 20px 25px;
  position: relative;
  box-shadow: 0 10px 24px rgba(0,0,0,.07);
  margin: 40px 0;
  border-radius: 8px;
  cursor: pointer;
}

.notifications-div-item-img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.notifications-div-item-info{
  color: #26335E;
  margin: auto 18px;
}

.notifications-div-item-info-name{
  color: #000000;
}

.notifications-div-item-time{
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 12px;
  color: #26335E;
}

@media screen and (max-width: 950px){
  .notifications-div{
    top:15px;
    right: 0;
    left: 0;
    margin: 0 auto;
    transform: scale(.8);
  }  
}

.dashboard-card-dropdown{
  position: absolute;
  top: 185px;
  right: 0;
  background: #fff;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
}

.dashboard-card-dropdown a{
  padding: 10px 15px;
  color:#52586C;
  font-size: 14px;
  display: block;
  z-index: 10;
}

.dashboard-card-dropdown a:first-of-type{
  background: rgba(154, 165, 183, .3);
}

.dashboard-card-dropdown a:hover{
  cursor: pointer;
  background: rgba(6, 180, 254, .15);
}

.messages-section{
  display: flex;
  padding-top: 20px;
}

.messages-influencer-section-wrapper{
  width: 25%;
  min-width: 250px;
  position: fixed;
  margin-left: -15px;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, .16);
  height: calc(100vh - 200px);
  border-radius: 5px;
}

.messages-influencer-section{
  height: calc(100vh - 200px);
  min-height: calc(100vh - 200px);
  overflow: auto;
  background: #fff;
}

.messages-influencer-section-item{
  display: flex;
  padding: 20px;
  background: #fff;
  cursor: pointer;
}

.messages-influencer-section-item:last-of-type{
  margin-bottom: 150px;
}
.messages-influencer-section-item:hover, .messages-influencer-section .active{
  background: rgba(154, 165, 183, .1);
}

.messages-influencer-section-item-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.messages-influencer-section-item-info{
  margin-left: 10px;
  width: 250px;
  color: #9B9B9B;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.messages-influencer-section-item-info p{
  margin: 0;
}

.messages-influencer-section-item-info span{
  color: #9B9B9B;
  opacity: .6;
}

.messages-influencer-section-header{
  background: #fff;
  border-bottom: 2px solid #E8E8E8;
  padding: 35px 25px;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
}

.messages-influencer-section-add-btn{
  transform: scale(1.5);
}

.messages-influencer-section-item-btns{
  position: absolute;
  right: 0;
  margin: auto 0;
}

.messages-influencer-section-item-btns button, .messages-chat-section-header-card-links button, .messages-chat-section-input button, .contract-item-links button{
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.messages-influencer-section-item-btns img{
  width: 18px;
  height: 28px;
  margin-top: 10px;
}

.messages-chat-section{
  margin-left: 380px;
  width: calc(100% - 380px);
}

.messages-chat-section-header{
  width: 650px;
  margin: 0 auto;
  position: fixed;
  right: 5%;
  z-index: 20;
}

.messages-chat-section-header-card{
  padding: 25px 60px;
  background: #fff;
  z-index: 40;
  width: calc(100% - 120px);
  height: 100%;
  position: relative;
  border-radius: 5px;
}

.messages-chat-section-header-card-shadow{
  width: 90%;
  margin: 0 auto;
  background: #fff;
  opacity: .5;
  z-index: 30;
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  border-radius: 5px;
  height: 25px;
}

.messages-chat-section-header span {
  color: #A0AABE;
  font-size: 14px;
}

.messages-chat-section-header a, .messages-chat-section-header p {
  color: #06B4FE
}

.messages-chat-section-header-card-info h3{
  margin: 5px 0;
  font-size: 30px;
  color: #26335E;
}

.messages-chat-section-header-card-info p{
  margin: 5px 0;
  font-size: 24px;
  display: inline;
}

.messages-chat-section-header-card-info p:first-of-type{
  margin-right: 30px;
}

.messages-chat-section-header-card-links{
  width:fit-content;
  position: absolute;
  top: 25px;
  right: 60px;
}

.messages-chat-section-header-card-links img, .messages-chat-section-input button img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.messages-chat-section-header-card-links img{
  opacity: 70%;
}

.messages-chat-section-input{
  height: 100px;
  width: 750px;
  position: fixed;
  right: 2%;
  bottom: 10px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .11);
}

.messages-chat-section-input-image{
  margin: 0 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.messages-chat-section-input textarea{
  width: calc( 100% - 200px);
  border: none;
  color: #52586C;
  text-align: left;
  resize: none;
  height: 60px;
  outline: none;
  font-size: 16px;
}

.messages-chat-section-messages{
  margin-top: 150px;
  height: fit-content;
  max-height: calc(100vh - 250px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 4;
  padding: 50px 0 150px;
}

.messages-chat-section-message{
  padding: 10px 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, .10);
  max-width: 600px;
  margin: 10px 0;
}


.messages-chat-section-message-text{
  position: relative;
}

.messages-chat-section-message-text{
  width: 92%;
  padding: 0 20px;
  color:#9B9B9B;
  font-size: 15px;
}

.messages-chat-section-message-sender img{
  width:40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
}

.messages-chat-section-message-text span , .attachement span{
  position: absolute;
  bottom: -15px;
  font-size: 10px;
}

.messages-chat-section-message-text img, .attachement img:last-of-type{
  position: absolute;
  bottom: -20px;
  width: 20px;
  height: 20px;
}

.mine{
  background: #fff;
}

.mine .messages-chat-section-message-text{
  order: 1
}

.messages-chat-section-message-sender{
  width: 8%;
}

.mine .messages-chat-section-message-sender{
  order: 2
}

.mine .messages-chat-section-message-text span{
  right: 45px;
}

.mine .messages-chat-section-message-text img{
  right: 20px;
}

.other .messages-chat-section-message-text{
  order: 2
}

.other .messages-chat-section-message-sender{
  order: 1;
}

.other{
  background: rgba(6, 180, 254, .05);
}

.other .messages-chat-section-message-text span{
  left: 45px;
}

.other .messages-chat-section-message-text img{
  left: 20px;
}

.attachement{
  flex-direction: column;
  padding: 0;
  width: 180px;
  position: relative;
  margin-bottom: 60px;
}

.attachement img{
  width: 100%;
  height: 120px;
  border-radius: 10px 10px 0 0;
}

.attachement p{
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  color: #26335E;
  font-size: 12px;
  width: calc(100% - 40px);
  margin: -10px 0;
}

.attachement span{
  bottom: -30px;
  color: #9B9B9B;
  right: 40px;
}

.attachement img:last-of-type{
  bottom: -35px;
  right: 15px;
}

@media screen and (max-width: 1400px){
  .messages-chat-section-input{
    width: 650px;
  }

  .messages-chat-section-header{
    transform: scale(.8);
  }
}

@media screen and (max-width: 1280px){
  .messages-chat-section-input{
    width: 550px;
  }

  .messages-chat-section-header{
    transform: scale(.6);
  }
}

@media screen and (max-width: 1100px){
.messages-influencer-section-item-info p{
  display: none;
}

.messages-influencer-section-item-info span{
  display: none;
}
.messages-influencer-section-wrapper{
  width: 140px;
  min-width: 140px;
}
.messages-chat-section {
  margin-left: 160px;
  width: calc(100% - 160px);
}

.messages-influencer-section-header{
  justify-content: center;
}
}

@media screen and (max-width: 950px){
  .messages-chat-section-input{
    width: 650px;
  }

  .messages-chat-section-header{
    transform: scale(.9);
  }
}

@media screen and (max-width: 820px){
  .messages-chat-section-input{
    width: calc(100% - 76px);
  }

  .messages-chat-section-header{
    transform: scale(.6);
  }

  .messages-chat-section-message{
    flex-wrap: wrap;
    justify-content: center;
  }

  .attachement{
    width: 200px;
    min-width: 200px;
    min-height: fit-content;
  }

  .messages-influencer-section-item-btns{
    display: none;
  }

  .messages-chat-section-input-image{
    display: none;
  }

  .messages-influencer-section-item-image {
    width: 30px;
    height: 30px;
  }

  .messages-influencer-section-wrapper{
    width: 56px;
    min-width: 56px;
    margin-left: -20px;
  }

  .messages-influencer-section-item{
    padding: 10px;
  }

  .messages-chat-section {
    margin-left: 50px;
    width: calc(100% - 50px);
  }

  .messages-chat-section-input textarea {
    width: calc( 100% - 70px);
    padding-left: 10px;
  }

  .messages-chat-section-header{
    right: -158px;
    top: 60px;
  }

  .messages-influencer-section-add-btn{
    transform: scale(1);
  }

  .messages-influencer-section-header{
    border-radius: 0;
  }
  #logout-svg {
    margin-bottom: -5px;
  }

  .messages-chat-section-messages{
    margin-top: 0;
  }

  .messages-chat-section-message-text{
    font-size: 14px;
    width: 100%;
    padding: 0 5px;
  }

  .messages-chat-section-message-sender{
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 520px){
  .messages-chat-section-header{
    transform: scale(.4);
    right: -200px;
  }

  .notifications-div{
    transform: scale(.6);
    top: -10px;
  }
}

.dashboard-main-section-header{
  color: #42505C;
  font-size: 20px;
  margin-left: 5%;
}

.dashboard-main-section-card{
  background: #fff;
  width: 90%;
  margin: 0 auto;
  min-height: 70vh;
  color: #79828B;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  border-radius: 8px;
  padding: 20px 2%;
}

.dashboard-main-section-card h4{
  font-size: 14px;
  margin: 10px 1% -10px;
}

.contract-item{
  margin: 40px auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 40px;
}

.contract-item-influencer-no{
  position: absolute;
  top: -10px;
  bottom: 0;
  left: -30px;
  margin: auto 0;
  z-index: 3;
  padding: 10px;
  font-size: 16px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contract-item-influencer-img{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 5;
  position: relative;
  border: 3px solid #fff;
}

.contract-item-info{
  width: fit-content;
  margin-left: 3%;
}

.contract-item-name{
  color: #42505C;
  font-size: 16px;
  margin: 0 0 10px 0;
  display: inline;
}

.contract-item-info span{
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.contract-item-desc {
  font-size: 14px;
  color: #79828B;
  margin: 5px 0;
  min-width: 300px;
}

.successful .contract-item-info span {
  color: #10C176;
  background: rgba(16, 193, 118, .1);
}

.successful .contract-item-influencer-no{
  color: #10C176;
  background: #CFF3E3;
}

.pending .contract-item-info span {
  color: #6271D2;
  background: rgba(98, 113, 210, .1);
}

.pending .contract-item-influencer-no{
  color: #fff;
  background: #6271D2;
}

.failed .contract-item-influencer-no{
  color: #fff;
  background: #D28662;
}

.failed .contract-item-info span {
  color: #D28662;
  background: rgba(210, 134, 98, .1);
}


.contract-item-info-influencers{
  display: flex;
  justify-content: center;
}

.contract-item-info-influencers img{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.contract-item-data{
  padding-right: 250px;
}

.contract-item-time{
  color: #79828B;
  font-size: 12px;
  margin: 0;
}

.contract-item-cost{
  color: #42505C;
  font-size: 20px;
  margin: 0;
}

.contract-item-links{
  position: absolute;
  right: 0;
}

.contract-item-links button{
  margin: 0 20px;
}

.contract-item-links i{
  font-size: 20px;
}

.cancel{
  color: red;
}

.finish{
  color: #10C176;
}

.contract-item-info-wrapper{
  display: flex;
  width: fit-content;
  position: relative;
}

@media screen and (max-width: 700px){
  .contract-item{
    flex-wrap: wrap;
  }

.contract-item-data{
  margin: 0 0 30px;
  width: 100%;
  padding-right: 0;
  text-align: center;
  order: 1;
}

.contract-item-info-wrapper{
  width: 100%;
  order: 2;
  margin-bottom: 30px;
}

.contract-item-links{
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

}

.show-modal{
  display: block;
}

.modal-div{
  background: #fff;
  padding: 6% 5%;
  display: flex;
  height: 70vh;
  box-shadow: 0 0 6px rgba(0,0,0,.16);
  width: 80%;
  margin: 100px 5%;
  border-radius: 5px;
  z-index: 310;
}

.advanced-search-section{
  padding: 6% 5%;
  display: flex;
}

.search{
  width: 72%;
  height: 80%;
}

.search-items{
  height: 100%;
  overflow-y: auto;
}

.search-input{
  width: 100%;
  height: 75px;
  position: relative;
  background: #fff;
  box-shadow: 0 0 34px rgba(0, 0, 0, .10);
}

.search-input input{
  width: 100%;
  height: 100%;
  padding-right: 8%;
  padding-left: 25px;
  outline: none;
  color: #635D5D;
  font-size: 20px;
  background: transparent;
  border: none;
}

.search-input svg{
  position: absolute;
  right:3%;
  top:0;
  bottom: 0;
  margin: auto 0;
  height: 16px;
  width: 16px;
}

.search-item{
  display: flex;
  align-items: center;
  color: #9B9B9B;
  margin: 20px 0;
}

.search-item:last-of-type{
  margin-bottom: 150px;
}

.search-item-person{
  width: 40%;
  display: flex;
  align-items: center;
}

.search-item-person img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.search-item-person span{
  font-size: 16px;
}

.search-item-stats{
  width: 15%;
  display: flex;
  align-items: center;
}

.search-item-stats img{
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.search-item-stats span{
  font-size: 14px;
}

.search-add-btn{
  width: 15%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.filter{
  width: 25%;
  margin-left: 3%
}

.filter h4{
  color: #06B4FE;
  margin: 5px 0;
  font-size: 20px;
}

.filter h4 img {
  width: 15px;
  height: 20px;
  margin: 0 5px;
}

.filter-options{
  background: rgba(88, 85, 196, .08);
  padding: 20px 20px 80px;
}

.filter-options p{
  color: #06B4FE;
  margin: 0 0 20px;
  font-size: 16px;
}

.filter-options img{
  display: block;
  width: 14px;
  height: 14px;
  margin: 5px 0;
}

.filter-options-inputs{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom:10px;
}

.filter-options-inputs:last-of-type{
  margin-bottom:30px;
}

.filter-option-input{
  width: 50%;
}

.filter-option-input input{
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.filter-option-input label{
  color:#635D5D;
  font-size: 14px;
}

.filter-options-input select{
  width: 100%;
}

.advanced-search-section .search-item:last-of-type{
  margin-bottom: 100px;
}

@media screen and (max-width: 800px){
  .filter{
    margin: 0 0 20px 0;
    width: 100%;
    order: 1;
  }

  .search-item:last-of-type{
    margin-bottom: 500px;
  }

  .advanced-search-section .search-item:last-of-type{
    margin-bottom: 100px;
  }

  .filter-options{
    padding: 20px;
  }

  .search{
    order: 2;
    width: 100%;
  }

  .modal-div, .advanced-search-section{
    flex-wrap: wrap;
  }

  .modal-div{
    height: 90vh;
  }

  .filter-option-social-item{
    width: 30%;
    margin: 0 1%;
  }

  .filter-option-section{
    display: flex;
    flex-wrap: wrap;
  }

  .filter-options p{
    width: 100%;
    margin: 0 0 5px;
  }

  .filter-options-inputs:last-of-type{
    margin-bottom: 15px;
  }

  .search-item-person span{
    font-size: 14px;
  }

  .search-item-stats span, .filter-option-input label{
    font-size: 12px;
  }

  .filter-option-input label{
    width: 100%;
    text-align: center;
  }

  .filter-option-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

  .filter-options img{
    margin: 5px auto;
  }

  .search-input input{
    font-size: 16px;
  }
}

.faq-section {
  padding: 30px 4%;
  font-size: 16px;
}

.faq-section h5{
  color: #26335E;
  margin-bottom: 0;
}

.faq-section p{
  color: #A0AABE;
  margin-bottom: 40px;
}

.connect-socials-section{
  padding: 30px 5%;
}

.connect-socials-section h5{
  color: #26335E;
  font-size: 20px;
  margin: 10px 0;
}

.connect-socials-section p{
  font-size: 18px;
  color: #94A3AF;
  margin: 0;
  opacity: .8;
}

.connect-socials-section-item{
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.connect-socials-section-item img{
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.connect-socials-section-item p{
  font-size: 20px;
  color: #26335E;
  margin-right: 50px;
}

.connect-socials-section-item i{
  color: #10C176;
  font-size: 20px;
}

.dashboard-form{
  margin: 60px auto;
  width: 40%;
  min-width: 300px;
}

.dashboard-form-inputs{
  background: rgba(6, 180, 254, .1);
  padding: 30px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, .16);
}

.dashboard-form-inputs label{
  width: 100%;
  color: #26335E;
  font-size: 16px;
  display: block;
  margin-bottom: 15px;
}

.dashboard-form-inputs input, .dashboard-form-inputs textarea{
  width: 94%;
  font-size: 16px;
  margin-bottom: 35px;
  border: 1px solid rgba(160, 170, 190, .54);
  height: 50px;
  outline: none;
  padding: 0 3%;
}

.dashboard-form-inputs textarea{
  height: 200px;
  resize: none;
  padding: 10px 3%;
  color: #777E8E;
}

.dashboard-form button{
  margin: 30px auto 0;
  display: block;
  transform: scale(.7);
}

.dashboard-form-inputs span{
  color: #A0AABE;
  font-size: 16px;
  margin-left: 5px;
  opacity: .7;
}

.note-item{
  margin: 10px auto 20px;
  width: 95%;
}

.note-item .dashboard-form-inputs textarea{
  height: 100px;
  margin-bottom: 0;
}

.note-item .dashboard-form-inputs .dashboard-form-btn{
  margin-top: 10px;
}
